@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutUser";
}
@model fest.Models.Category

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="CategoryId"/>
    <input type="text" asp-for="CategoryName" />
    <button type="submit">Submit</button>
</form>