@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutUser";
}

@* @{
    var returnUrl = ViewBag.returnUrl as String;
} *@
@model fest.Models.User
<form   asp-action="Login">
@* <input type="hidden" name="returnUrl" value="@returnUrl"/> *@
    <div asp-validation-summary="ModelOnly"></div>
   
           <input asp-for="Email" />

        <input asp-for="Passwords" />
    
        <button type="submit">Submit</button>
</form>